.header {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    background: var(--secondary-font);
    
    @media screen and (min-width: 768px) {
    
    padding-top: 21px;
    padding-bottom: 21px;
    margin: 0;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    }

&__link {


    @media screen and (min-width: 768px) {
        margin-right: 88px;
    
        }
    @media screen and (min-width: 1200px) {
    

        }

}

&__item {
    position: relative;
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-bottom: 32px;
    transition: color var(--anim);
&:hover,
&:focus {
        color: var(--accent-txt);
        }
    }
&__item--current {
    color: #2196f3;
}
&__list {
    display: flex;
    align-items: center;
}
   


&__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: normal;
    }
}
&__item--current::after {
    position: absolute;
    bottom: -2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    
    @media screen and (min-width: 1200px) {
        bottom: 0px;
    }
}

&--icon {
    fill: currentColor;
&:hover,
&:focus {
        color: var(--accent-txt);
    }}
&__mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--half-txt);
    transition: color var(--anim);

    &:hover,
    &:focus {
        color: var(--accent-txt);
    }}
&__phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--half-txt);
    transition: color var(--anim);

    &:hover,
    &:focus {
    color: var(--accent-txt);
    }}
&__item__icon {
    margin-right: 10px;}

&__item__txt{
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        }
     @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
}
&__nav{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: block;
    }

    }

}
.nav__item {
    gap: 50px;

    @media screen and (min-width: 768px) {
        display: block;
        &:not(:last-child) {
                margin-right: 50px;
            }

        }
    @media screen and (min-width: 1200px) {
        
        
    }
}


.contact__list {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    
}

.contact__item{
    @media screen and (min-width: 768px) {
    &:not(:last-child){
        margin-bottom: 10px;
    }
    }

    @media screen and (min-width: 1200px) {
    &:not(:last-child) {
        margin-bottom: 0;
    }
        }
}