/* Стили логотипа */
.header__link,
.footer__link {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-cl);
}

.logo__primary {
    color: var(--primary-txt);
}

.logo__secondary {
    color: var(--secondary-txt);
}
