.menu-btn__open {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    outline: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
    display: none;
    }

}
.menu-btn__icon{
    width: 40px;
    height: 40px;
}

.menu-btn__open:focus{
    fill: var(--accent-txt);
}

.menu-btn__close {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
    background-color: transparent;
    border: transparent;
    outline: transparent;
}

.menu-btn__close:focus{
    fill: var(--accent-txt);
}