.social {
    display: flex;
    align-items: center;
    justify-content: center;
&__item:not(:last-child) {
        margin-right: 10px;
    }
&--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--anim);
    &:hover,
    &:focus {
        background-color: var(--second-cl);
        }
    &:hover .social__icon,
    &:focus .social__icon {
    fill: var(--secondary-txt);
    }
    }
&__icon {
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
    transition: fill var(--anim);
}
}